# API_BASEURL="https://ami.incase.link"
SITE_TITLE=""
SITE_DESCRIPTION=""
SITE_BASEURL="http://localhost:3000"
API_BASEURL="http://localhost:3000"

# MQ_BASEURL="wss://gractor:gractor1234@mqtt.gractor.com:443/mqtt"
# OS_BASEURL="https://{username}:{password}@{os_host}:{os_port}/{os_index}"
# AD_BASEURL="https://{username}:{password}@{os_host}:{os_port}/{os_index}"
PG_BASEURL="postgresql://{username}:{password}@{pg_host}:{pg_port}/{pg_db}"

AUTH_URL=$SITE_BASEURL
AUTH_SECRET="91257ce33f6461d70153a00127f84376acc74a1370c2419237a8149b699320c1"

LOGO_LIGHT="/images/logo.png"
LOGO_DARK=$LOGO_LIGHT

FILE_STORAGE_ROOT="/tmp/portfolio"