# API_BASEURL="https://ami.incase.link"
SITE_TITLE="Portfolio"
SITE_DESCRIPTION="Introduction to User's portfolio, showcasing projects and skills."
SITE_BASEURL="http://localhost:3000"
API_BASEURL=$SITE_BASEURL

# MQ_BASEURL="wss://gractor:gractor1234@mqtt.gractor.com:443/mqtt"
MQ_BASEURL="mqtt://localhost:1883/mqtt"
WS_BASEURL="wss://localhost:1884/mqtt"
# WS_BASEURL="wss://test:test1234@mqtt-dev.gractor.com:443/mqtt"
OS_BASEURL="https://localhost:9200/portfolio"
AD_BASEURL="https://localhost:9200/portfolio-ad"
PG_BASEURL="postgresql://localhost:5432/portfolio"
# PG_BASEURL="postgresql://gractor:gractor@222.122.41.195:30543/dms"
# RD_BASEURL="redis://:#Gyosic1234@localhost:6379/0"

AUTH_URL=$SITE_BASEURL
AUTH_SECRET="SrBCzFt8QCQ28PB/Z1cuegQDBDc7vOsxSFEdKnqXSRcWkKJDP1Tuh2uupEgoD2f/jz6n7lteJclpI96O16RLWA=="

LOGO_LIGHT="/images/logo.png"
LOGO_DARK=$LOGO_LIGHT

FILE_STORAGE_ROOT="/tmp/dms"
GOOGLE_GEOLOCATE_KEY={GOOGLE_GEOLOCATE_KEY}

SYSADMIN_USERNAME="admin"
SYSADMIN_PASSWORD='70xcmduNSRwj9uBmp4h0y6eyPlcMexeB/FEpl+v1LNjwTeXB8zNDsqul1RvNpa28NmlyLujGX+QSKTr8s4m2xg=='
SYSADMIN_SALT='BV8maZvMDR3nKuLjc1KSt2xZfun94BSwLCEal5HmqRyHeAamKMPA3QNTYyOI+io9P7zgTRdJDkmnLSfwONaxCw=='

# PERSONAL
PERSONAL_TITLE=""
PERSONAL_DESCRIPTION=""
PERSONAL_NAME=""
PERSONAL_EN_NAME=""
PERSONAL_EMAIL=""
PERSONAL_PHONE=""
PERSONAL_LOCATION=""
PERSONAL_EN_LOCATION=""
PERSONAL_ABOUT_LANGUAGES="korean"
PERSONAL_ABOUT_GENDER=""
PERSONAL_ABOUT_BIRTHDAY=""
PERSONAL_ABOUT_BIO=""
PERSONAL_ABOUT_HOBBIES=""
PERSONAL_ABOUT_NATIONALITY=""
PERSONAL_SOCIAL_GITHUB=""
PERSONAL_SOCIAL_TWITTER=""
PERSONAL_SOCIAL_INSTAGRAM=""
PERSONAL_SOCIAL_YOUTUBE=""
PERSONAL_SOCIAL_FACEBOOK=""
PERSONAL_SOCIAL_TIKTOK=""
PERSONAL_SOCIAL_BLOG=""
PERSONAL_SKILL_LANGUAGES="HTML5,CSS3,JavaScript,TypeScript,Javascript"
PERSONAL_SKILL_FRAMEWORKS="React,Next.js,Vue.js,Nuxt.js,Tailwind CSS,Shadcn,Bootstrap"
PERSONAL_SKILL_TOOLS="GitLab,GitHub,VS Code,Docker,Opensearch,PostgreSQL,MQTT,Redis"
PERSONAL_ROLES="Freelancer,Blogger,Gamer,Creator,Student,Contributer"