SITE_TITLE="Portfolio"
SITE_DESCRIPTION="Introduction to User's portfolio, showcasing projects and skills."
SITE_BASEURL="http://localhost:3000"
API_BASEURL="http://localhost:3000"
PORT=3000

PG_BASEURL="postgresql://localhost:5432/portfolio"

AUTH_URL=$SITE_BASEURL
AUTH_SECRET="SrBCzFt8QCQ28PB/Z1cuegQDBDc7vOsxSFEdKnqXSRcWkKJDP1Tuh2uupEgoD2f/jz6n7lteJclpI96O16RLWA=="

LOGO_LIGHT="/images/logo.png"
LOGO_DARK=$LOGO_LIGHT

FILE_STORAGE_ROOT="/tmp/portfolio"

GOOGLE_GEOLOCATE_KEY={GOOGLE_GEOLOCATE_KEY}
OPENAI_API_KEY=""
RESEND_API_KEY=""

SYSADMIN_USERNAME="admin"
SYSADMIN_PASSWORD='xtRmUu6S+nu6wg/6l42rjUgGIAaKXkL4YcSiccnqG5wlA5vG2vkyipTGEpaMeFkDMqtBFSI8UVizVtCIgxCssw=='
SYSADMIN_SALT='RwBVkOdQLjmvKv3RKLA4gFuEn6vqSv/L+Lj4YWUZ0sTcRQDqUHLKKRVvRTZItLcpeW6KJw8TBBaR0G7ct6+6ww=='

TIMEZONE="ko-KR"

# PERSONAL
PERSONAL_TITLE=""
PERSONAL_EN_TITLE=""
PERSONAL_DESCRIPTION=""
PERSONAL_NAME=""
PERSONAL_EN_NAME=""
PERSONAL_EMAIL=""
PERSONAL_PHONE=""
PERSONAL_LOCATION=""
PERSONAL_EN_LOCATION=""
PERSONAL_ABOUT_LANGUAGES="korean"
PERSONAL_ABOUT_GENDER=""
PERSONAL_ABOUT_BIRTHDAY=""
PERSONAL_ABOUT_BIRTHTIME=""
PERSONAL_ABOUT_BIO=""
PERSONAL_ABOUT_HOBBIES=""
PERSONAL_ABOUT_NATIONALITY="South Korea"
PERSONAL_SOCIAL_GITHUB=""
PERSONAL_SOCIAL_TWITTER=""
PERSONAL_SOCIAL_INSTAGRAM=""
PERSONAL_SOCIAL_YOUTUBE=""
PERSONAL_SOCIAL_FACEBOOK=""
PERSONAL_SOCIAL_TIKTOK=""
PERSONAL_SOCIAL_BLOG=""
PERSONAL_SKILL_BIO=""
PERSONAL_SKILL_LANGUAGES="HTML5,CSS3,JavaScript,TypeScript,Javascript"
PERSONAL_SKILL_FRAMEWORKS="React,Nextjs,Vuejs,Nuxtjs,TailwindCSS,Shadcn,Bootstrap"
PERSONAL_SKILL_TOOLS="GitLab,GitHub,VSCode,Docker,Opensearch,PostgreSQL,MQTT,Redis"
PERSONAL_ROLES="Freelancer,Blogger,Gamer,Creator,Student,Contributer"